body {
  background: linear-gradient(to bottom, #6190e8, #a7bfe8);
  height: 100vh;
}

.appContainer {
  margin-top: 7rem;

  .list {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .list__buttons {
        margin-top: -0.8rem;
        &--done {
          margin-right: 1rem;
        }
      }
    }
  }
}
